{% extends "layout.html" %}

{%  block title %}
    Aquatemp
{% endblock %}

{% block home %}
    class="active"
{% endblock %}

{% block body %}
    <section>
        <div class="txt">Sensor</div>
        <div class="txt">Aquarium temperatuur</div>
        <div class="txt">Alarm</div>
        <div class="txt">Aquarium pH</div>
    </section>
    <footer class="footer-distributed">

			<div class="footer-left">

				<p class="footer-links">
					<a href="{{ url_for('index') }}">Aquatemp</a>
					<a href="{{ url_for('tabellen') }}">Tabellen</a>
				</p>

				<p>Wannes Benoit &copy; 2017</p>
			</div>

	</footer>
{% endblock %}