{% import "/macros/macro.html" as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for("static",filename = "css/aquatemp.css")}}">
</head>
<main>
    <nav>
        <ul>
            <li><a {% block home %}{% endblock %} href="{{ url_for('index') }}">Aquatemp</a></li>
            <li><a {% block collection %}{% endblock %} href="{{ url_for ('tabellen') }}">Tabellen</a></li>
        </ul>
        {% block body %}{% endblock %}
    </nav>
</main>
</html>